.case-header .graphic {
    height: 80vh;
    width: 100vw;
    /* background: url(); */
}

.case-header .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    /* margin: 0 80px */
}

.case-header h1 {
    margin: 0;
    max-width: 800px;
    /* font-size: 100px; */
}

.case-header p {
    max-width: 400px;
}

