/* responsive sizing for homepage */
/* hasn't tested ultrawide but works in theory */

.fill h2 {
    margin-top: 0;
}

.fill {
    z-index: 2;
    border: 1px solid #515151;
    padding: 40px;
    background: rgb(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 32px;
    box-shadow: 4px 4px 0px 0px #515151;
}

.illustration {
    width: 1008px;
    position: relative;
    left: -250px;
    top: -32px;
    z-index: 1;
}

/* --------------------------------------------- */

@media only screen and (max-width: 1300px) {

    .illustration {
        left: -270px;
        top: -40px;
    }

    .content .fill {
        margin-left: 50px;
    }
}

@media only screen and (max-width: 1200px) {

    .illustration {
        width: 960px;
        left: -230px;
    }

    .content .fill {
        width: 450px;
    }

    h2 {
        font-size: 48px;
    }

    h6 {
        font-size: 20px;
    }

    .homepage p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1150px) {

    .content .fill {
        width: 430px;
    }

    .illustration {
        width: 900px;
    }

}

@media only screen and (max-width: 1150px) {

    .content .fill {
        margin-left: 32px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1100px) {

    .case-study:hover {
        outline: none;
    }
}

@media only screen and (max-width: 1050px) {
    .content .fill {
        margin-left: 0;
        margin-right: 16px;
    }
}

@media only screen and (max-width: 1024px) {

    .illustration {
        top: 0;
        width: 800px;
        left: -180px;
    }

    .hero {
        height: 800px;
    }

    .hero .content {
        height: 680px;
    }

    .content .fill {
        margin-left: 0;
        margin-right: 24px;
        margin-top: 24px;
    }

    h2 {
        font-size: 40px;
    }

    h6 {
        font-size: 18px;
    }

    .homepage p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 910px) {

    .illustration {
        width: 700px;
        left: -150px;
        top: 20px;
    }

    .hero .void {
        width: 380px;
    }

    .content .fill {
        margin-top: 40px;
    }

    h2 {
        font-size: 36px;
    }
}

@media only screen and (max-width: 820px) {

    nav {
        height: 70px;
    }

    .logo svg {
        width: 40px;
        height: 40px;
    }

    #blob {
        display: none;
    }

    #small-blob {
        display: none;
    }

    .hero {
        height: 640px;
    }

    .hero .content {
        height: 580px;
        width: 760px;
        margin: 0 auto;
    }

    .content .fill {
        margin-right: 0;
        margin-top: 56px;
        padding: 32px;
    }

    .bifold div {
        margin-right: 8px;
    }

    .bifold {
        margin-bottom: 24px;
    }

    h2 {
        font-size: 34px;
    }

    .homepage p {
        font-size: 13px;
    }

    .case-studies {
        max-width: 744px;
    }

    .case-study {
        height: 280px;
    }

    .case-study .content {
        margin-left: 32px;
        width: 300px;
    }

    h4 {
        font-size: 28px;
    }

    p {
        font-size: 18px;
    }

    /* footer */

    .footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }

    .footer .content {
        padding: 0;
        margin-top: 80px;
        max-width: 700px;
        margin-left: 40px;
        margin-bottom: 0;
    }

    h3 {
        font-size: 40px;
    }

    .footer .graphic svg {
        width: 400px;
        margin-right: 0;
        margin-left: 300px;
    }
}

@media only screen and (max-width: 800px) {

    .content .fill {
        margin-right: 16px;
        margin-bottom: 0;
    }

}

@media only screen and (max-width: 750px) {

    .illustration {
        width: 580px;
        top: 80px;
        left: -130px;
    }

    .content .void {
        width: 300px;
    }

    .content .fill {
        padding: 24px;
        width: 350px;
        margin-right: 24px;
    }
}

@media only screen and (max-width: 600px) {

    html, body {
        overflow-x: hidden;
    }
    
    /* --------------- fonts --------------- */

    h2 {
        font-size: 38px;
    }

    h3 {
        font-size: 38px;
    }

    h4 {
        font-size: 32px;
    }

    h6 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .homepage p {
        font-size: 14px;
    }

    .tag {
        font-size: 14px;
        padding: 8px;
    }

    #blob {
        display: none;
    }

    #small-blob {
        display: none;
    }

    /* --------------- header --------------- */

    nav {
        width: 100vw;
        padding-top: 0;
        height: 70px;
    }
    
    .logo a {
        margin-left: 12px;
    }

    .logo svg {
        width: 40px;
        height: 40px;
    }

    .nav-items {
        width: 240px;
        margin-right: 12px;
    }

    .nav-item .icon {
        display: none;
    }

    /* --------------- hero --------------- */

    .hero {
        align-items: center;
        height: 880px;
        margin-top: 80px;
    }

    .hero .content {
        flex-direction: column;
        width: 90vw;
        height: 100%;
        align-items: center;
        justify-content: start;
    }

    .hero .void {
        margin-top: 0;
        width: 100%;
        height: 400px;
    }

    .hero .fill {
        margin-left: 0;
        margin-top: 0;
        width: 100%;
        border: none;
        padding: 0;
        background: none;
        backdrop-filter: none;
        border-radius: 0;
        box-shadow: none;
    }

    .illustration {
        top: 0;
        left: -120px;
        width: 120vw;
    }

    .hero .bifold {
        width: 90vw;
    }

    .hero .bifold .homepage {
        width: 45%;
    }

    .hero .icon-plus-text {
        width: 90vw;
    }

    .fill .circles {
        display: none;
        z-index: -100;
    }

    /* --------------- cases --------------- */

    .case-studies {
        width: 90vw;
    }
    
    .case-study {
        height: fit-content;
        flex-direction: column;
        justify-content: start;
        margin-bottom: 96px;
    }

    .case-study .graphic {
        width: 100%;
        height: 200px;
        border-radius: 8px;
        margin-bottom: 24px;
    }

    .case-study .content {
        width: 100%;
        padding-right: 0;
        margin-left: 0;
    }

    .case-study .content h4 {
        margin-bottom: 8px;
    }

    .case-study .content p {
        margin-top: 0;
        margin-bottom: 24px;
    }

    /* --------------- footer--------------- */

    .footer {
        height: fit-content;
        flex-direction: column;
        padding: 0;
    }

    .footer .content {
        padding: 0;
        margin: 80px auto;
        max-width: 370px;
    }

    .footer .graphic svg {
        width: 390px;
        height: 190px;
        padding-top: 0;
        margin-left: 0;
    }
}

@media only screen and (max-width: 390px) {

    .content .void {
        height: 380px;
    }

}

@media only screen and (max-width: 375px) {

    .content .void {
        height: 360px;
    }

    .illustration {
        left: -110px;
    }

    .content .fill {
        margin-top: 0;
        width: 100%;
        padding: 8px;
        margin-right: 0;
    }

    .fill h2 {
        font-size: 35px;
    }
}