/* 
---------------------- TABLE OF CONTENTS ----------------------
1. Global Styles
2. Fonts
3. Nav & Footer
4. Homepage
5. Homepage Case Studies
---------------------------------------------------------------
*/

:root {
    --white: #ffffff;
    --black: #000000;
    --grey: #BCBCBC;
    --accent: #D6BDFF;
}

body {
    background: var(--black);
    margin: 0;
    overflow-x: hidden;
}

/* ---------------------- fonts ---------------------- */
/* case study header section */
h1 {
    font-family: 'Jost', sans-serif;
    font-size: 88px;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--white);
}

/* homepage hero */
h2 {
    font-family: 'Jost', sans-serif;
    font-size: 54px;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--white);
}

/* footer */
h3 {
    font-family: 'Jost', sans-serif;
    font-size: 48px;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--white);
}

/* section heading */
h4 {
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--white);
}

/* section sub-headings */
h5 {
    font-family: 'Jost', sans-serif;
    font-size: 32px;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: var(--white);
}

/* nav & homepage sub-headings */
h6 {
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--grey);
    margin: 0;
}

.white h6 {
    color: var(--white);
}

.accent h6 {
    color: var(--accent);
}

/* only used on homepage */
.homepage p {
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: var(--white);
    letter-spacing: 0.4px;
}

.tag {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: var(--grey);
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    border: 1px solid rgba(188, 188, 188, 0.60);
    background: rgba(188, 188, 188, 0.20);
    margin-right: 16px;
}

/* body text */
p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0.2px;
    color: var(--white);
}

.purple-link {
    color: var(--accent);
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

/* ---------------------- nav & footer ---------------------- */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    width: 100%;
    background: var(--black);
    position: fixed;
    z-index: 5;
}

nav a {
    text-decoration: none;;
}

.logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 363px;
    margin-right: 40px;
}

.nav-item, .nav-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-item .icon {
    width: 24px;
    height: 24px;
    border: var(--grey) 1px solid;
    border-radius: 50%;
    margin-right: 10px;
}

.nav-btn {
    display: flex;
    border: 1px solid var(--grey);
    padding: 4px 10px;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
}

#circle {
    opacity: 0;
}

#home {
    color: var(--accent);
    opacity: 0;
}

/* ------------------------- */

.footer {
    width: 100vw;
    background: #352C41;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 64px;
}

.footer h3 {
    margin: 0;
}

.footer .content {
    display: flex;
    flex-direction: column;
    width: 653px;
    padding: 80px 0;
}

.footer .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

#mail {
    margin-right: 24px;
}

#linkedin {
    margin-right: 10px;
}

.graphic {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    padding-top: 35px;
}

/* ---------------------- homepage ---------------------- */

.hero {
    width: 100vw;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.my-workspace {
    position: absolute;
    top: 128px;
    /* left: -32px; */
    left: -160px;
}

.hero .content {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-right: 160px;
    margin-top: 120px;
}

.bifold {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 40px;
}

.bifold div {
    width: 220px;
}

.icon-plus-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.icon-plus-text svg {
    opacity: 0.4;
}

.icon-plus-text h6 {
    opacity: 0.6;
}

/* ---------------------- homepage case studies ---------------------- */

.case-studies {
    width: 1253px;
    height: hug-content;
    margin: 0 auto;
}

.case-study {
    height: 512px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 134px;
}

.case-study .graphic {
    width: 55%;
    height: 100%;
    background: #292929;
    border-radius: 16px;
}

.case-study .content {
    width: 32%;
    padding-right: 56px;
}

.case-study .content h4 {
    margin-bottom: 32px;
}

.case-study .content p {
    margin-bottom: 32px;
}

.case-study .tags {
    display: flex;
    flex-direction: row;
}

.case-study:hover {
    cursor: pointer
}

.case-study h4:hover {
    text-decoration: underline;
    transition: 0.5s ease-in-out;
}

